.secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--light_pink);
  border: 1px solid var(--dark);
  box-shadow: 1px 4px 1px var(--dark);
  border-radius: 10px;
  transition: all 0.2s;

  &:hover {
    text-decoration: none;
    color: var(--dark);
    background-color: var(--yellow);
  }

  &:active {
    box-shadow: 0 0 1px var(--dark);
    transform: translateY(5px);
  }
}
