:root {
    --dark: #232323;
    --white: #fef7f1;
    --blue: #4f3dca;
    --purple: #7a66ff;
    --light_blue: #599bff;
    --pink: #a336d6;
    --light_pink: #d375ff;
    --yellow: #ffd073;
    --red: #f45b49;
    --green: #00c6ad;
}
